.container{
	display:flex; /* This defines a flex container; inline or block depending on the given value. It enables a flex context for all its direct children.*/
	flex-direction: row;/* row | row-reverse | column | column-reverse;*/
	flex-wrap: nowrap; /* nowrap | wrap | wrap-reverse; */
	justify-content: flex-start; /*flex-start | flex-end | center | space-between | space-around | space-evenly | start | end | left | right ... + safe | unsafe;*/
}

